.author-wrapper{
    /*display: flex;*/
    /*justify-content: center;*/
    margin-right: 20%;
    margin-left: 20%;
}
.drawer-wrapper{
    margin-bottom: 20px;
}

.author-details-wrapper{
    display: flex;
    justify-content: center;
}
.author-details{
    margin-bottom: 50px;
}

.text-bold{
    font-weight: bold;
}
.ant-col{
    padding: 8px;
}
